*{
	margin: 0px;
	padding: 0px;
}
ul{
	display: flex;
	justify-content: center;
}
li{
    display: inline-flex;
    text-align: center;
    margin: 5px;
}
li.liMenu{
	width: 120px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	background-color:steelblue;
	
}
#dropdownMenuButton{
	height: 50px;
	line-height:25px;
}
.menu{
	margin-bottom: 15px;
}
.enlaces{
	width: 120px;
	color:white;
	transition:all 1s;
        border-radius: 5px;
        
}
a.enlaces:hover{
	background-color: lightblue;
	color: black;
}

.container{
	margin:auto;
	position: relative;
}

.libros{
	border:1px solid black;
	width: 20%;
}
.tablas{
	display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
}
.separador{
    height: 150px;
}
.btn{
    background-color: steelblue;
}

a.dropdown-item:hover{
    background-color: lightblue;
}

.titulo{
          color: white;
          font-size: 24px;
}
